<ion-view class-"pane" view-title="landingpage" hide-nav-bar="true">
asdasd
    <ion-content>
        <img src="./img/5.gif" alt="" />
   <div id="page0">
    <!-- <ion-header-bar class="bar bar-header bar-dark" style="text-align:center;">
      <h1 style="text-align:center;" class="title">tesing</h1>
    </ion-header-bar> -->
    <!-- <div class="item item-body" style="text-align:center;border:0px;background-color:transparent;">
     <img class="full-image logo" src="img/ionic.png">
    </div> -->
   <!--  <div id="container1" >
      
    </div>
    <div class="row responsive-sm" >
      <div class="col" style="text-align:center;">
        <button id="English" class="button button-positive"  ng-click="goToLogIn()">English</button>
      </div>
    </div>
    <div class="row responsive-sm" >
      <div class="col" style="text-align:center;">
        <button id="Arabic" class="button button-block button-positive">Arabic</button>
      </div>
    </div> -->
  </div>


  </ion-content>


     


    <div class="fixed-outside">

      <div class="signin_btn">
        <button class="button button-block" ng-click="openModal()">Sign in</button>
      </div>

      <div class="signup">
        <label class="item btnLogin">
          <button class="button button-full icon-left ion-social-facebook button-positive btn" ng-click="fbLogin()">
              Sign in with Facebook
          </button>
        </label>
      </div>

    </div>



 <!--      
<ion-footer-bar align-title="center">


  <div class="buttons">
    <button class="button">Left Button</button>
  </div>
  <h1 class="title">Title!</h1>
  
  <div class="button button-block" ng-click="doSomething()">
    <button class="button">Right Button</button>
  </div>
</ion-footer-bar> -->
      </ion-view>