/*.modal2 {*/
    /*min-height: 30px;*/
    /*height: 30px;*/
    /*text-align: left;*/

    /*font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;*/
    /*vertical-align: middle;*/

    /*background-repeat: no-repeat;*/
    /*background-position: 10px center;*/
    /*background-color: #fefff3;*/

    /*border-color: #c0c0c0;*/
    /*border-radius: 3px;*/
    /*border: 1px ridge;*/
    /*background-repeat: no-repeat;*/
    /*background-position: 10px center;*/
    /*opacity: .7;*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 350;*/
    /*top: 20%;*/
    /*right: 20%;*/
    /*bottom: 20%;*/
    /*left: 20%;*/
    /*overflow: visible;*/
    /*width: 65%; }*/
    /*.modal.ng-leave-active {*/
        /*bottom: 0; }*/
    /*.platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {*/
        /*height: 44px; }*/
    /*.platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {*/
        /*margin-top: 0; }*/
    /*.platform-ios.platform-cordova .modal-wrapper .modal .tabs-top > .tabs, .platform-ios.platform-cordova .modal-wrapper .modal .tabs.tabs-top {*/
        /*top: 44px; }*/
    /*.platform-ios.platform-cordova .modal-wrapper .modal .has-header, .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {*/
        /*top: 44px; }*/
    /*.platform-ios.platform-cordova .modal-wrapper .modal .has-subheader {*/
        /*top: 88px; }*/
    /*.platform-ios.platform-cordova .modal-wrapper .modal .has-tabs-top {*/
        /*top: 93px; }*/
    /*.platform-ios.platform-cordova .modal-wrapper .modal .has-header.has-subheader.has-tabs-top {*/
        /*top: 137px; }*/

.padLbl {
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    padding: 5px;
}
/*.login {*/
    /*margin-top: 10px;*/
/*}*/
.item .title {
    white-space: normal;
    font-size: 14px;
}
.item .sessionTitle {
    padding-left: 50px;
    top: 16px;
    position: fixed;
}
.item .sessionTitle :first-child {
    white-space: normal;
}

.item .name {
    white-space: normal;
    padding-left: 50px;
}

.fave {
   color: red;
}
.btn {
    width: 220px;
    margin:0 auto;
    display:block;
}
.item.btnLogin {
    padding: 4px;
}

.addCal {
    float: right;
    /*color: #1f5880;*/
    font-size: 20px;
}
.tab-item {
    color: #1f5880;
    font-weight: bold;
}
h1, h6 {
    font-family: 'Anton', serif;
}
.pic {
    max-height: 120%;
    max-width: 120px;
    min-height: 120px; !important;

    
 padding-top: 0px;

 position:absolute;
    left:10px;
    top:50px;
border-radius: 15px 30px;
align-items: mid

 
  
    



}
h1 .title {
    font-size: 19px;
}
h6 span {
    font-family: 'Arial', serif;
}
.popover {
    height: 200px;
    color: #000000;
}
.popover a {
    text-decoration: none;
}
.popover .padLbl{
    margin-top: 30px;
}
.popover .about {
    height: 34px;
    background-color: #444444;
    width: 100%;
    position: absolute;
    top: 0;
}
.popover .about > h6 {
    font-size: 15px;
    color: #ffffff;
    text-align: center;
}
.platform-ios .popover-arrow::after {
    background-color: #444444;
}
/*.title img {*/
    /*vertical-align:middle;*/
/*}*/
/*.item {*/
    /*background-color: #dddddd;*/
/*}*/

#signin-popup
{
    width: 90%; 
    height: 60%; 
    min-height: 0; 
    max-height: 550px; 
    top: 20%; left: 5%; right: 5%; bottom: 20%;
}

.ion-input-select--large,
.ion-input-select,
select {
  -webkit-appearance:none;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);  
  border:thin solid #dddddd;
  font-weight:300;
  display:inline;
  vertical-align:middle;
  color:#333;
  padding: auto 0;
  overflow:hidden;
  box-sizing:border-box;
}









.ion-input-select--large {
  width:100%;
  font-size:1.6rem;
  background-image: url(http://i.imgur.com/7rGM4IX.png);
  text-indent:40px;
  padding:1.2rem 0;

}


.fixed-outside {

  position: absolute;
  bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  width: 90%;
  height: 120px;
  text-align: center;
  
}

#signin-popup
{width: 90%; 
height: 60%; 
min-height: 0; 
max-height: 250px; 
top: 20%; left: 5%; right: 5%; bottom: 20%;

}



.pane { 
        /*background: url('http://i.giphy.com/yoJC2LeoA3VWezo1OM.gif'); */
        background-size: 100% 100% !important;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachmesnt: fixed;

    }
.button{
	opacity: 0.8 !important;
}

/*
.scroll-content{
  top:0 !important
}
*/
.background-image {
  
  width: 100%;
  height: 220px;


  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.header-img{
   position:relative;
}

